.waveform{
    width:100%;
    height: 200px;
    background: pink;
}

.position{
  width: 5px;
  height: 200px;
  left: 100px;
  position: absolute;
  background-color: black;
}
menu{
  background: blue;
}
.container{
  display: flex;
  flex-direction: column;
}
