<div class="container">
  <div class="waveform" (click)="seek($event)">
    <div class="position" [class.left]="original.pos"></div>
    <h2>original drums</h2>
    <h3> Current position:  {{original.pos}}</h3>
    <h3> Duration:  {{original.duration}}</h3>
    <h3> State:  {{original.state}}</h3>
  </div>
  <menu type="context">
    <button  (click)="play(0)">Play</button>
    <button (click)="pause(0)">Pause</button>
  </menu>
</div>

<div class="container">
  <div class="waveform" (click)="seek($event)">
    <div class="position"></div>
    <h2>mastered drums</h2>
    <h3> Current position:  {{mastered.pos}}</h3>
    <h3> Duration:  {{mastered.duration}}</h3>
    <h3> State:  {{mastered.state}}</h3>
  </div>
  <menu type="context">
    <button  (click)="play(1)">Play</button>
    <button (click)="pause(1)">Pause</button>
  </menu>
</div>

<button  (click)="playall()">PlayAll</button>
<button  (click)="pauseAll()">PauseAll</button>
<button  (click)="playOriginal()">playOriginal</button>
<button  (click)="playMastered()">playMastered</button>
<button  (click)="playMastered()">playMastered</button>
